<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
 
    <classes>
      <class name="ActualTests.AdvancedsearchTest"/>
      </classes>
      </test>
      <test name="Test2">
      <classes>
      <class name="ActualTests.AuthenticationTest"/>
      </classes>
      </test>
      <test name="Test3">
       <classes>
      <class name="ActualTests.BookingTest"/>
      </classes>
      </test>
      <test name="Test4">
       <classes>
      <class name="ActualTests.myaccountTest"/>
      </classes>
      </test>
       <test name="Test6">
       <classes>
      <class name="ActualTests.verificationTest"/>
      </classes>
      </test>
      <test name="Test5">
      <classes>
      <class name="PhpTravels.PhpTravelsAutomation.AppTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
